<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>page resize demo</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="backgrounds">
			<canvas class="canvas_bg" id="canvas_bg1" width="32" height="32"></canvas>
			<canvas class="canvas_bg" id="canvas_bg2" width="32" height="32"></canvas>
			<div class="radial_gradient"></div>
		</div>

		<div class="container">
			<div class="clipped">
				<div class="content">
					<img class="picture" src="assets/headpic.jpg" alt="self picture">
					<h4 class="section-title">Kevin Mongiello</h4>
					<div class="text">
						<p>Hi. I'm Kevin Mongiello, an artistic and passionate web developer, music creator,
							and entrepreneur. Welcome to my world.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container" style="background-color: pink">
			<div class="clipped">
				<div class="content">
					<img class="picture" src="assets/KevinAndRyan.jpg" alt="self picture">
				</div>
			</div>
		</div>

		<div class="container" style="background-color: red">
			<div class="clipped">
				<div class="content">
					<img class="picture" src="assets/Woodstock.jpg" alt="self picture">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="canvas.js"></script>
	</body>

</html>
